:root {
    /* --main-background: #75bdc16f; */
    --main-background: #ffffff;
    --title-blue: #56d2e2;
    --sub-title-orange: #fdae81;
    /* --category-grey: #d6d6d6cf; */
    --category-grey: #56d2e2;

    --max-width: 100%;
    --main-content-1400: 1400px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* filter: grayscale(.05); */
}

body {
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
    background: var(--main-background);
}

.hidden {
    display: none;
}

/* TITLE: Enzee */
h1 {
    /* font-size: 45px; */

    font-size: 120px;

    font-weight: 100;
    font-weight: 700;
}

.brand-color {
    font-weight: 700;
    color: var(--title-blue);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.683);
}

/* CATEGORY TITLE: model etc, AND FOOTER SLOGAN */
h2 {
    font-size: 60px;
    /* font-weight: 700; */
}

/* SUB-TITLE: photography AND FOOTER SLOGAN: you're in the right place */
h3 {
    font-size: 30px;
    font-weight: 300;
    color: var(--sub-title-orange);
}

/* CATEGORY INFO */
h4 {
    font-size: 20px;
}

p {
    font-size: 15px;
    font-weight: 100;
}

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    /* top: 22.5px; */
    /* width: 100%; */
    width: var(--max-width);
  }
  
.hidden {
    display: none;
}

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  header {
    z-index: 3;
    position: absolute;
    /* display: none; */
    display: flex;
    /* top: 22.5px; */
    /* margin-top: 22.5px; */

    /* width: 100%; */
    width: var(--max-width);

    /* !!!!! BACKGROUND IS CONTROLLED BY SCROLLMAGIC fromTo 0.85 -> 0.95 !!!!! */
    background-color: rgba(0, 0, 0, 0.85);

    /* border: 1px solid rgba(255, 166, 0, 0.944); */
}
    
.header-content {
    display: flex;
    /* align-items: flex-end; */
    align-items: center;
    max-width: var(--main-content-1400);

    /* !!! */
    /* background-color: rgba(165, 77, 77, 0.231); */

    width: 80%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;

    /* border: 1px solid rgb(47, 255, 0); */
}
    
.logo-container, .nav-links, .search-container {
    display: flex;
}
    
    /* ===== LOGO =====  */
    
.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    /* border: 1px solid white; */

     /* LOGO ONLY */
    justify-content: flex-end;
    justify-content: center;

    /* border: 1px solid rgb(255, 42, 0); */
}
    
.logo__block-row {
    display: flex;
}
    
.logo__block {
    width: .5rem;
    height: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.108);
    border-radius: .2rem;
    margin: .1rem;
}
    
.logo__block-1 {
    background-color: #62959c;
    border-bottom-left-radius: .6rem;
}
    
.logo__block-2 {
    background-color: #c19277;
}
    
.logo__block-3 {
    background-color: #e1bc91;
    border-top-right-radius: .6rem;
}
    
   
/* ===== NAV ===== */
    
/* DEFAULT NAVBAR LINK TEXT */
a.nav-link.nav-link-text,
button.dropbtn.nav-link-text {
    /* color: var(--title-blue); */
    color: rgba(255, 255, 255, 0.753);
}

/* ACTIVE NAVBAR LINK TEXT */
a.nav-link.nav-link-text.active,
button.dropbtn.nav-link-text.active {
    /* color: var(--title-blue); */
    border-bottom: 1px solid var(--title-blue);
    border-bottom: 1px solid white;
    /* color: rgba(255, 255, 255, 0.594); */
}


nav {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid rgb(255, 42, 0); */
}

    
.nav-link {
    display: block;
    float: left;
    width: 130px;
    text-align: center;
    text-decoration: none;
    color: black;
    letter-spacing: .04rem;
    font-size: 15px;
    font-weight: 300;
    margin-top: 16px;
    padding: 0px 20px 10px 20px;
    border-bottom: 1px solid transparent;
}

/* .nav-link.active {
    border-bottom: 1px solid white;
    color: rgba(255, 255, 255, 0.753);
} */

/* .nav-link.active:hover {
    border-bottom: 1px solid white;
    color: white;
} */

/* NAV LINK HOVER */
.nav-link.nav-link-text:hover {
    border-bottom: 1px solid white;
    /* border-bottom: 1px solid var(--title-blue); */
    color: white;
}

/* ACTIVE NAVLINK */
.select-able.active {
    border-bottom: 1px solid white;
    /* color: white; */
}
    

/* DROPDOWN  */

   .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    width: 130px;
    text-align: center;
    font-size: 15px;  
    border: none;
    outline: none;
    padding: 15px 20px 10px 20px;
    letter-spacing: .04rem;
    font-weight: 300;
    /* padding: 16px 16px; */
    border-bottom: 1px solid transparent;

    text-transform: capitalize;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  /* DROPDOWN HOVER */
  .dropdown .dropbtn:hover {
    border-bottom: 1px solid white;
    /* border-bottom: 1px solid var(--title-blue); */
    color: white;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    background-color: #000000a0;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgba(255, 255, 255, 0.753);
    padding: 12px 16px;
    padding: 12px 0px 16px 33px;
    letter-spacing: .04rem;
    font-weight: 300;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.848);
    color: white;
    color: var(--sub-title-orange);
    color: var(--title-blue);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


/* SEARCH BAR */

.search-container {
    /* background: rgba(227, 113, 93, 0.425); */
    flex: 1;
    display: flex;
    flex-direction: row;
    /* end NOT WORKING, INSTEAD: */
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    /* border-left: 1px solid black; */

    /* border: 1px solid rgb(255, 42, 0); */
}
    
button {
    border: 1px solid red;
    border: none;
    color: white;
    background: transparent;
    outline: none;
}  

button.submit-btn, button.close-btn {
    color: rgba(255, 255, 255, 0.753);
}
/* 
.fa.fa-search {
    color: orange;
} */

input[type=text] {
    /* border: yellowgreen; */
    /* width: 140px; */

    -webkit-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;

    margin: 0px 0px 0px 7px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 15px;
}

::placeholder {
    /* color: red; */
    margin: 0px 0px 0px 10px;
  }


/* W3SCHOOLS SEARCH/FILTER DROPDOWN */
  .search-dropdown-content {
    /* display: none; */
    /* display: block; */
    position: absolute;
    top: 45px;
    /* left: 0px; */
    min-width: 177px;
    background-color: #f6f6f636;
    
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;

    /* border: 1px solid orange; */
  }
  
  .search-dropdown-content a {
    /* width: 100%; */
    color: black;
    padding: 12px 16px;
    /* margin-left: 10px; */
    text-decoration: none;
    display: block;
  }
  
  .search-dropdown-content a:hover {background-color: #ddd;}


/* ========== MAIN CONTENT ========== */

/* DESIGN 2 */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--max-width);
    height: fit-content;

    /* border: 3px solid red; */
}

.main-coloumn {
    /* z-index: -1; */
    width: 1400px;
    max-width: var(--main-content-1400);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* background: rgba(0, 0, 0, 0.204); */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.211), rgba(0, 0, 0, 0)); */
    /* border-left: 15px solid rgba(0, 0, 0, 0.218); */
    margin-bottom: 200px;
    margin-top: 100px;

    /* border: 3px solid rgb(0, 106, 255); */
}

.products-title-container {
    margin: 45px 0px 45px 0px;
    /* border: 3px solid tomato; */
}

.products-container {
    width: 90%;
    /* height: 600px; */

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 45px 0px 90px 0px;
    /* border: 3px solid tomato; */
    /* border: 3px solid rgb(58, 197, 45); */
}


h2.products {
    font-size: 60px;
    font-weight: 400;
}



.products-text-container {
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* margin-left: 70px; */

    /* border: 3px solid goldenrod; */
}

.products-text-row {

    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-around; */
    padding-left: 1rem;
    /* border-left: 1px solid rgba(0, 0, 0, 0.724); */
    border-left: 2px solid rgba(0, 0, 0, 0.272);

    /* border: 3px solid aquamarine; */
}


.products-text__title {
    margin: 0px 0px 8px 0px;
    text-transform: uppercase;
}

.products-text__text {
    font-size: 15px;
    font-weight: 400;
    /* color:  rgba(173, 32, 32, 0.724); */
    color: rgba(0, 0, 0, 0.724);
}


/* ========== FOOTER ========== */

.footer {
    /* z-index: 1; */

    /* width: var(--max-width); */
    width: 100vw;
    /* background: rgba(0, 0, 0, 0.85); */
    background: rgba(0, 0, 0, 0.95);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 100px;

    /* border-top: 45px solid rgb(136, 136, 136); */
    /* border-top: 45px solid rgba(189, 187, 187, 0.766); */
}

.footer-top-img {
    /* z-index: 1; */
    background-image: url("./images/footer-img-crop-1.jpg");
    background-size: cover;
    /* border: 1px solid red; */
    /* width: 100%; */
    width: var(--max-width);
    height: 475px;

    /* border-top: 5px solid black; */
}

.footer-top-img-cover {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    justify-content: space-between;
    /* top: -400px; */
    /* width: 100%; */
    width: var(--max-width);
    height: inherit;
    /* background: rgba(0, 0, 0, 0.457); */
    /* background: rgba(0, 0, 0, 0.129); */

    /* !!! */
    /* background: #7a250450; */
    background: #32130740;

    /* background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.546)); */
    /* background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.101), rgba(0, 0, 0, 0.224), rgba(0, 0, 0, 0.307), rgba(0, 0, 0, 0.403), rgba(0, 0, 0, 0.567)); */
    /* border-bottom: 10px solid black; */
    /* border-top: 90px solid rgba(0, 0, 0, 0); */
}

.footer-content--full-width {
    /* width: 100%; */
    width: var(--max-width);
    /* height: 120px; */
    /* height: fit-content; */

    display: flex;
    align-items: center;
    justify-content: center;

    /* background: rgba(0, 0, 0, 0.135); */
    /* background-image: linear-gradient(to right,rgba(182, 101, 101, 0.218), rgba(0, 0, 0, 0)); */

    /* border: 3px solid black; */
    /* border: 1px solid rgba(255, 255, 255, 0.512);  */

    /* margin-top:90px; */

    margin-top: 45px;
    margin-top: 30px;
    margin-top: 80px;
/* 
    border-top: 1px solid rgba(255, 255, 255, 0.759);
    border-bottom: 1px solid rgba(255, 255, 255, 0.759); */
}


/* CLEAR DIV-1 NO BACKGROUND*/
.footer-content-1 {
    width: 90%;
    max-width: var(--main-content-1400);
    height: 100%;
    /* height: 180px; */

    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */

    /* padding: none; */
    /* border: 1px solid orange; */
}

.footer-info-container-1 {
    /* width: 80%; */
    height: 180px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
    justify-content: space-between;


    /* border-top: 1px solid rgba(255, 255, 255, 0.759); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.759); */
    /* padding: .5rem; */
    /* margin-left: 1rem; */
    /* border: 1px solid  #56d2e2;  */
}


.footer-info-container-1 h1::first-letter {
    text-transform: capitalize;
}

/* Need a good photographer? */
.footer-info-container-1 h2 {
    letter-spacing: .05rem;
    /* color: #ffffff; */
    /* color: #000000;  */
    /* text-shadow: 1px 1px rgba(0, 0, 0, 0.683); */
    /* border: 1px solid yellow; */
}

.footer-info-container-1 h2::first-letter {
    text-transform: capitalize;
}

/* you're in the right place */
.footer-info-container-1 h3 {
    letter-spacing: .15rem;
}

.footer-contact-button {
    width: fit-content;
    padding: .5rem;
    color: rgb(255, 255, 255);
    /* border: 1px solid rgba(255, 255, 255, 0.779); */
    background: rgba(0, 0, 0, 0.211);
  
    /* color: black;
    border: 1px solid black; */
  
    border-radius: 3px;
    margin-top: 1rem;
    /* margin-left: 7rem; */
  }

  .footer-contact-button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.498);
    
  }

/* CLEAR DIV-2 */
.footer-content--full-width.full-width-2 {

    height: 90px;
    background: rgba(0, 0, 0, 0.128);
    /* background-image: linear-gradient(to right,rgba(0, 0, 0, 0.355), rgba(0, 0, 0, 0.149)); */

    margin-bottom: 45px;

     /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    
    border-top: 1px solid rgba(255, 255, 255, 0.519);
    border-bottom: 1px solid rgba(255, 255, 255, 0.519);

}

.footer-content-2 {
    width: 90%;
    max-width: var(--main-content-1400);
    height: 100%;

    display: flex;
    justify-content: space-between;


    /* border: 1px solid orange; */
}

.footer-info-container-2 {
    height: 100%;
    /* width: 100%; */
    max-width: var(--main-content-1400);

    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-end;



    /* border-top: 1px solid rgba(255, 255, 255, 0.759); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.759); */
    padding: .5rem;
    /* margin-right: 1rem; */
    
    /* border: 1px solid  #56d2e2;  */
}
/* 
.footer-info-container-2 .logo-container--4 {
    flex: 0;
    border: 1px solid rgb(23, 219, 23);
} */

/* .social-media-icon-container {
    border: 1px solid  #56d2e2; 
    margin-right: 1rem;
} */

/* 
.footer-img {
    width: 100%;
    max-height: 400px;
} */

.footer-bottom {
    height: 90px;
    width: 90%;
    max-width: var(--main-content-1400);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border-top: 1px solid rgba(255, 255, 255, 0.491); */
    /* border-top: 1px solid rgb(0, 0, 0); */
    /* border: 1px solid green; */
    /* border-top: 5px solid rgba(189, 187, 187, 0.766); */
}

/* .footer hr {
    width: 90%;
    max-width: 1500px;
    border: none;
    border-top: 1px solid white;
} */

.footer p {
    display: inline-block;
    /* border: 1px solid red; */
    margin-left: 1rem;
}

.footer a {
    /* display: inline-block; */
    color: #56d2e2;
    color: rgb(255, 166, 0);
    color: #fdae81;
    text-align: center;
    text-decoration: none;
    /* color: black; */
    /* color: rgba(255, 255, 255, 0.753); */
    letter-spacing: .04rem;
    font-size: 15px;
    font-weight: 300;
    /* border: 1px solid red; */
    margin-right: 1rem;

    
}

.fa.social-media-icon {
    padding: 10px;
    font-size: 30px;
    width: 45px;
    height: 50px;
    color: white;
    /* text-align: center; */
    border-radius: 3px;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa.social-media-icon:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    background: #3b589883;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    background: #55acee88;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    background: #007cb57d;
    color: white;
  }

  .fa-youtube {
  background: #bb0000;
  background: #bb000081;
  color: white;
}

.fa-instagram {
  background: #125688;
  background: #12578884;
  color: white;
}
