*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    font-family: 'Roboto', sans-serif;
}

/* LANDSCAPE STYLE */

/* !!! width/height SHOULD BE THE SAME ON ALL CONTAINERS AND IMAGES !!! */
.landscape-style.container {
    position: relative;
    /* BOTH vw/h AND px WORK */
    /* width: 50vw;
    height: 40vh; */

    width: 600px;
    height: 300px;

    margin: 25px;
    /* border: 3px solid rgb(222, 76, 98); */
}

.landscape-style.container:hover {
    cursor: pointer;
}

.landscape-style.before, .landscape-style.after {
    /* CONTAINERS STACKED ON TOP OF EACH OTHER */
    position: absolute;
    /* width: 50vw;
    height: 40vh; */

    width: 600px;
    height: 300px;
}

.landscape-style.before {
    /* width: 25vw; 
    width: 200px; */
    width: 33.33%;
    /* HIDE CONTENT THAT IS NOT VISIBLE WHEN CHANGING WIDTH */
    overflow: hidden;
}

.landscape-style img {
    /* width: 50vw;
    height: 40vh; */

    width: 600px;
    height: 300px;

    object-fit: cover;
}

.img-text {
    position: absolute;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

/* TOP LEFT TEXT */
.after .img-text {
    right: 1rem;
    top: .5rem;
}

/* TOP RIGHT TEXT */
.before .img-text {
    left: 1rem;
    top: .5rem;
}

.slider {
    position: absolute;
    z-index: 2;
    width: 2px;
    height: 100%;
    top: 0;
    /* DEFAULT X POSITION */
    left: 33.33%;
    /* SLIDER BAR WILL BE CENTERED PERFECTLY REGARDLESS OF WIDTH */
    transform: translate(-50%, 0%);
    background: rgb(255, 255, 255);
    /* !!! The element does not react to pointer events LIKE hover, click !!! */
    /* THIS IS TO PREVENT IMG FORM FLICKERING WHEN BAR IS HOVERED */
    pointer-events: none;
}




/* PORTRAIT STYLE */
.portrait-style.container {
    position: relative;
    width: 25vw;
    height: 75vh;

    width: 400px;
    height: 600px;

    margin: 25px;
    /* border: 3px solid rgb(222, 76, 98); */
}

.portrait-style.container:hover {
    cursor: pointer;
}

.portrait-style.before, .portrait-style.after {
    position: absolute;
    width:25vw;
    height: 75vh;

    width: 400px;
    height: 600px;
}

.portrait-style.before {
    width: 12.5vw; 

    width: 200px;
    width: 33.33%;
    overflow: hidden;
}

.portrait-style img {
    width: 25vw;
    height: 75vh;

    width: 400px;
    height: 600px;

    object-fit: cover;
}
