@media only screen and (min-width: 320px) and (max-width: 767px) {
    /* ========== MAIN CONTENT ========== */

    .main-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: var(--max-width);
		height: fit-content;
		/* border: 3px solid red; */
    }

    .main-coloumn {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 45px;
		margin-top: 90px;
		/* border: 3px solid rgb(0, 106, 255); */
    }

    .about-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		/* border: 3px solid rgb(65, 255, 48); */
    }

    .about-enzee-container {
      margin: 0px 0px 30px 0px;
      /* border: 3px solid tomato; */
    }

    /* IN common-rules.css/small */
    /* h2.about-enzee {
      font-weight: 400;
      font-size: 45px;
      line-height: 2.2rem;
    } */

    .about-image-container {
		width: 100%;
		margin-bottom: 30px;
		/* border: 3px solid rgb(218, 162, 32); */
    }

    .about-image {
		width: 100%;
    }

    .about-text-container {
		width: 100%;
		max-height: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		/* border: 3px solid rgb(32, 88, 218); */
    }

    .about-text-row {
		width: 100%;
		padding-left: 1rem;
		border-left: 2px solid rgba(0, 0, 0, 0.272);
		/* border: 3px solid fuchsia; */
    }

    .about-text-row:nth-child(2) {
      margin: 15px auto;
    }

    .about-text__title {
      margin: 0px 0px 8px 0px;
      text-transform: uppercase;
    }

    .about-text__text {
      font-size: 15px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.724);
    }
}
