@media only screen and (min-width: 399px) {
  /* ========== MAIN CONTENT ========== */

	.main-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: var(--max-width);
		height: fit-content;
		/* border: 3px solid red; */
	}

	.main-coloumn {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 90%;
		max-width: var(--main-content-1400);
		margin-bottom: 100px;
		margin-top: 80px;
		/* border: 3px solid rgb(0, 106, 255); */
	}

	.about-container {
		display: flex;
		justify-content: space-between;
		width: 90%;
		max-height: 600px;
		/* border: 3px solid rgb(21, 255, 0); */
	}

	.about-enzee-container {
		margin: 45px 0px 90px 0px;
		/* border: 3px solid tomato; */
	}

	h2.about-enzee {
		font-weight: 400;
	}

	.about-image-container {
		width: 33.33%;
		/* border: 3px solid rgb(218, 162, 32); */
	}

	.about-image {
		width: 100%;
		max-height: auto;
	}

	.about-image--square {
		display: none;
	}

	.about-text-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 66%;
		margin-left: 70px;
		/* border: 3px solid rgb(32, 88, 218); */
	}

	.about-text-row {
		width: 100%;
		padding-left: 1rem;
		border-left: 2px solid rgba(0, 0, 0, 0.272);
		/* border: 3px solid fuchsia; */
	}

	.about-text__title {
		margin: 0px 0px 8px 0px;
		text-transform: uppercase;
	}

	.about-text__text {
		font-size: 15px;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.724);
	}
}
