


@media only screen and (min-width: 768px) {
      
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* height: 100vh; */
        border: 3px solid red;
    }
        
    .main-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        width: 90%;
        max-width: 1400px;
        border: 3px solid blue;
    }
        
    .slider-section {
        border: 3px solid olive;
    }

    .title-container {
        text-align: center;
        margin: 80px 0px 0px 0px;
        border: 3px solid green;
    }
        
    h2.slider-title {
        font-weight: 400;
    }

    .gallery-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1400px;
        margin: 50px 0 50px 0;
        border: 3px solid orange;
    }
       
    @media only screen and (max-width: 1024px) {
        .gallery-container {
            flex-direction: column;
        }

        .landscape-style {
            width: 650px;
            height: 325px;
        }

        .portrait-style {
            width: 467px;
            height: 700px;
        }
    }

    .spacer-column-div {
        /* display: none; */
        width: 24%;
        background: rgba(105, 238, 255, 0.279);
    }

    .column {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        border: 3px solid grey;
    }
        
    .right-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
        
    .img-slider-container {
        position: relative;
        /* margin: 10px; */
    }
        
    .img-slider-container:hover {
        cursor: ew-resize;
    }
        
    /* !!! width/height SHOULD BE THE SAME ON ALL CONTAINERS AND IMAGES !!! */
        
    /* ALL LANDSCAPE STYLE CONTAINERS AND IMAGES, BOTH after AND before */
    .landscape-style {
        /* BOTH vw/h AND px WORK */
        /* width: 45vw;
        height: 36vh; */
        width: 650px;
        height: 325px;
    }
       
    @media only screen and (max-width: 1351px) {
        .landscape-style {
            /* border: 3px solid red; */
            width: 585px;
            height: 293px;
        }
    }

    @media only screen and (max-width: 1230px) {
        .landscape-style {
            /* border: 3px solid red; */
            width: 525px;
            height: 264px;
        }
    }

    @media only screen and (max-width: 1120px) {
        .landscape-style {
            /* border: 3px solid red; */
            width: 472px;
            height: 237px;
        }
    }

    @media only screen and (max-width: 1024px) {
       .landscape-style {
            width: 650px;
            height: 325px;
        }
    }

    /* ALL PORTRAIT STYLE CONTAINERS AND IMAGES, BOTH after AND before */
    .portrait-style {
        /* width: 25vw;
        height: 75vh; */
        width: 467px;
        height: 700px;
    }
        
    @media only screen and (min-width: 500px) and (max-width: 1351px) {
        .portrait-style {
            /* border: 3px solid red; */
            width: 420px;
            height: 630px;
        }
    }

    @media only screen and (min-width: 500px) and (max-width: 1230px) {
        .portrait-style {
            /* border: 3px solid red; */
            width: 378px;
            height: 567px;
        }
    }

    @media only screen and (min-width: 500px) and (max-width: 1120px) {
        .portrait-style {
            /* border: 3px solid red; */
            width: 340px;
            height: 510px;
        }
    }

    @media only screen and (max-width: 1024px) {
        .portrait-style {
            width: 467px;
            height: 700px;
        }
    }

    @media only screen and (max-width: 1024px) {
        /* .column { visibility: hidden; } */
        /* .image-one { order: 2; } */
        .image-two { order: 2;}
        .image-three { order: 1; }
    }

    .img-container {
        /*  IMG-CONTAINERS STACKED ON TOP OF EACH OTHER */
        position: absolute;
    }
       
    /* @media only screen and (min-width: 500px) and (max-width: 767px) {
        .landscape-style {
            width: 487px;
            height: 244px;
        }
            
        .portrait-style {
            width: 467px;
            height: 700px;
        }
    } */



    /* HIDE CONTENT THAT IS NOT VISIBLE WHEN CHANGING WIDTH. BOTH landscape AND portrait */
    .img-container.before {
        /* width HAS TO MATCH .slider { left: 33.33% } */
        width: 33.33%;
        overflow: hidden;
    }
        
    /* ALL IMAGES */
    .container img {
        object-fit: cover;
    }
        
    .img-text {
        position: absolute;
        font-size: 30px;
        font-weight: 300;
        /* color: rgb(0, 0, 0); */
        color: rgb(255, 255, 255);
    }
        
    /* TOP LEFT TEXT */
    .after .img-text {
        right: 1rem;
        top: 0.5rem;
    }
        
    /* TOP RIGHT TEXT */
    .before .img-text {
        left: 1rem;
        top: 0.5rem;
    }
        
    .slider {
        position: absolute;
        z-index: 2;
        width: 2px;
        height: 100%;
        top: 0;
        /* DEFAULT X POSITION */
        left: 33.33%;
        /* SLIDER BAR WILL BE CENTERED PERFECTLY REGARDLESS OF WIDTH */
        transform: translate(-50%, 0%);
        /* background: rgb(0, 0, 0); */
        background: rgb(255, 255, 255);
        /* !!! The element does not react to pointer events LIKE hover, click !!! */
        /* THIS IS TO PREVENT IMG FORM FLICKERING WHEN BAR IS HOVERED */
        pointer-events: none;
    }
      
	
}

