:root {
  --main-background: #eeeeee;
  /* --main-background: #ffffff; */
  --title-blue: #56d2e2;
  --sub-title-orange: #fdae81;

  --max-width: 100%;
  --main-content-1400: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
	display: none;
}

body {
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
  }

.main-content {
	background: var(--main-background);
}

/* HOMEPAGE FONT PROPERTIES ARE SET IN home-small.css */

@media only screen and (min-width: 320px) and (max-width: 768px) {
	
	/* TITLE: Enzee */
	h1 {
		font-size: 120px;

		/* font-weight: 100; */
		/* font-weight: 700; */
	}

	/* CATEGORY TITLE: model etc, AND FOOTER SLOGAN */
	h2 {
		font-size: 45px;
		font-weight: 300;
		/* color: blue; */
		/* line-height: 2.2rem; */
		/* font-weight: 700; */
	}

	/* SUB-TITLE: photography AND FOOTER SLOGAN: you're in the right place */
	h3 {
		font-size: 17.5px;
		font-weight: 300;
		/* text-transform: uppercase; */
		color: var(--sub-title-orange);
	}

	/* !!! CATEGORY INFO IN LAST 3 CATEGORIES !!! */
	h4 {
		font-size: 20px;
	}

	p {
		font-size: 15px;
		font-weight: 100;
	}

	.brand-color {
		font-weight: 100;
		font-weight: 500;
		/* font-weight: 700; */
		/* font-weight: 900; */
		color: var(--title-blue);
		text-shadow: 1px 1px rgba(0, 0, 0, 0.683);
	}

	.hidden {
		display: none;
	}

	.hover-pointer {
		cursor: pointer;
	}
}

@media only screen and (min-width: 769px) {
	/* TITLE: Enzee */
	h1 {
		font-size: 120px;

		font-weight: 100;
		/* font-weight: 700; */
	}

	/* CATEGORY TITLE: model etc, AND FOOTER SLOGAN */
	h2 {
		font-size: 60px;
		font-weight: 400;
	}

	/* SUB-TITLE: photography AND FOOTER SLOGAN: you're in the right place */
	h3 {
		font-size: 30px;
		font-weight: 300;
		color: var(--sub-title-orange);
	}

	/* CATEGORY INFO */
	h4 {
		font-size: 20px;
	}

	p {
		font-size: 15px;
		font-weight: 100;
	}

	.brand-color {
		font-weight: 700;
		/* font-weight: 100; */
		color: var(--title-blue);
		text-shadow: 1px 1px rgba(0, 0, 0, 0.683);
	}

	.hover-pointer {
		cursor: pointer;
	}
}
