@media only screen and (min-width: 320px) and (max-width: 812px) {
	/* ========== MAIN CONTENT ========== */

	.main-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: var(--max-width);
		height: fit-content;
		/* border: 3px solid red; */
	}

	.main-coloumn {
		width: 95%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin-top: 50px;
        margin-bottom:100px;
		/* border: 3px solid rgb(0, 106, 255); */
	}

	.contact-container {
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 3%;
		/* border: 3px solid rgb(98, 197, 45); */
	}

	.title-container {
		margin-top: 50px;
        margin-bottom:50px;
		/* border: 3px solid tomato; */
	}

	/* IN common-rules.css/small */
	/* h2.get-in-touch {
		font-size: 45px;
		font-weight: 400;
	} */

	.contact-image-container {
		display: none;
		width: 33.33%;
		width: 32%;
		/* border: 3px solid goldenrod; */
	}

	.contact-image {
		width: 100%;
		max-height: auto;
	}

	.contact-text-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		/* border: 3px solid goldenrod; */
	}

	.contact-text-row {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 5%;
		/* border: 3px solid aquamarine; */
	}

	.contact-text-block {
		width: 100%;
		margin: 5px;
		padding: 2px 2px 2px 10px;
		border-left: 2px solid rgba(0, 0, 0, 0.272);
		/* border: 3px solid fuchsia; */
	}

	.contact-text__title {
		margin: 0px 0px 5px 0px;
		text-transform: uppercase;
	}

	.contact-text__text {
		font-size: 15px;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.724);
	}
}

@media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {
	.contact-text-row {
		flex-direction: row;
		justify-content: space-around;
		margin: 2%;
		/* border: 3px solid aquamarine; */
	}

	.contact-text-block {
		width: 40%;
		margin: 5px;
		padding: 2px 2px 2px 10px;
		border-left: 2px solid rgba(0, 0, 0, 0.272);
		/* border: 3px solid fuchsia; */
	}
}
