

/* ========== MAIN CONTENT ========== */


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--max-width);
    height: fit-content;

    /* border: 3px solid red; */
}

.main-coloumn {
    /* z-index: -1; */
    width: 1400px;
    max-width: var(--main-content-1400);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* border: 3px solid rgb(0, 106, 255); */
    /* background: rgba(0, 0, 0, 0.204); */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.211), rgba(0, 0, 0, 0)); */
    /* border-left: 15px solid rgba(0, 0, 0, 0.218); */
    margin-bottom: 200px;
    margin-top: 100px;
}

.contact-container {
    width: 90%;
    height: 600px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    /* border: 3px solid rgb(98, 197, 45); */
}

.about-enzee-container {
    margin: 45px 0px 90px 0px;
    /* border: 3px solid tomato; */
}

h1.about-enzee {
    font-size: 60px;
    font-weight: 400;
}

.contact-image-container {
    width: 400px;
    /* height: 600px; */

    background-image: url(../../images/about/about-1.jpg);
    background-size: cover;

    /* border: 3px solid goldenrod; */
}


.contact-text-container {
    width: 700px;
    /* height: 600px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* margin-left: 70px; */

    /* border: 3px solid goldenrod; */
}

.contact-text-row {
    width: 100%;
    display: flex;

    /* border: 3px solid aquamarine; */
}

.contact-text-block {
    width: 95%;
    /* height: 105px; */

    padding: 10px 10px 10px 15px;

    /* border: 3px solid fuchsia; */
    border-left: 2px solid rgba(0, 0, 0, 0.272);
}


.contact-text__title {
    margin: 0px 0px 8px 0px;
    text-transform: uppercase;
}

.contact-text__text {
    font-size: 15px;
    font-weight: 400;
    /* color:  rgba(173, 32, 32, 0.724); */
    color: rgba(0, 0, 0, 0.724);
}


