@media only screen and (min-width: 320px) and (max-width: 812px) {
	body.preload * {
		animation-duration: 0s !important;
		-webkit-animation-duration: 0s !important;
		transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
		padding 0s, margin 0s !important;
	}

	.footer {
		/* !!!!! FIX THIS !!!!! */
		/* position: relative; */
		/* top: 3800px; */
		/* !!! HAD TO PLACE FOOTER IN MAIN CONTENT AFTER MAIN COLOUMN !!! */

		width: 100vw;
		background: rgba(0, 0, 0, 0.95);
		color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		/* border: 3px solid orange; */
	}

	.footer-top-img {
		background-image: url("../../images/footer-img-crop-1.jpg");
		background-size: cover;
		width: var(--max-width);
		/* height: 475px; */
		/* height: 400px; */
		height: 350px;
		/* border: 2px solid red; */
	}

	.footer-top-img-cover {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: var(--max-width);
		height: inherit;
		/* background: rgba(0, 0, 0, 0.457); */
		/* background: rgba(0, 0, 0, 0.129); */

		/* !!! */
		/* background: #7a250450; */
		background: #32130740;

		/* background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.546)); */
		/* background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.101), rgba(0, 0, 0, 0.224), rgba(0, 0, 0, 0.307), rgba(0, 0, 0, 0.403), rgba(0, 0, 0, 0.567)); */
		/* border: 2px solid rgb(247, 0, 255); */
	}

	.footer-content--full-width {
		width: var(--max-width);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
		/* border: 2px solid white; */
	}

	/* CLEAR DIV-1 NO BACKGROUND*/
	/* .footer-content-1 {
		border: 1px solid orange;
	} */

	.footer-info-container-1 {
		width: 100%;
		height: 200px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		align-items: center;
		justify-content: space-between;
		/* border: 3px solid #56d2e2; */
	}

	/* Need a good photographer? */
	.footer-info-container-1 h2 {
		font-size: 45px;
		text-align: center;
		letter-spacing: 0.1rem;
		/* border: 1px solid yellow; */
	}

	.footer-info-container-1 h2::first-letter {
		text-transform: capitalize;
	}

	/* you're in the right place */
	.footer-info-container-1 h3 {
		font-size: 22.5px;
		letter-spacing: 0.15rem;
	}

	.footer-contact-button {
		width: fit-content;
		padding: 0.5rem;
		color: rgb(255, 255, 255);
		background: rgba(0, 0, 0, 0.211);

		border-radius: 3px;
	}

	/* CLEAR DIV-2 */
	.footer-content--full-width.full-width-2 {
		height: 90px;
		height: fit-content;
		background: rgba(0, 0, 0, 0.128);
		margin-bottom: 10px;

		/* border-top: 1px solid black;
		border-bottom: 1px solid black; */

		border-top: 1px solid rgba(255, 255, 255, 0.519);
		border-bottom: 1px solid rgba(255, 255, 255, 0.519);
		/* border: 1px solid yellow; */
	}

	.footer-content-2 {
		width: 95%;
		height: 100%;
		display: flex;
		justify-content: center;
		/* border: 3px solid green; */
	}

	/* SOCIAL MEDIA ICON CONTAINER */
	.footer-info-container-2 {
		width: 100%;
		display: flex;
		justify-content: space-around;
		padding: 0.25rem;
		/* border: 2px solid #5685e2; */
	}

	.footer-bottom {
		height: 90px;
		height: 75px;
		width: 95%;
		display: flex;
		flex-direction: row;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		/* border: 1px solid green; */
	}

	/* !!! MAKE CLASS FOR FOOTER p TEXT font-size !!! */
	.footer p {
		display: inline-block;
		font-size: 12px;
		/* border: 1px solid red; */
	}

	.footer a {
		/* color: #56d2e2; */
		/* color: rgb(255, 166, 0); */
		color: #fdae81;
		text-align: center;
		text-decoration: none;
		letter-spacing: 0.04rem;
		font-size: 12px;
		font-weight: 300;
		/* border: 1px solid red; */
	}

	.footer-links {
		width: 75%;
		display: flex;
		justify-content: center;
		/* border: 1px solid forestgreen; */
	}

	.footer-links a:nth-child(2) {
		margin: 0px 3%;
		/* border: 1px solid hotpink; */
	}

	.fa.social-media-icon {
		padding: 10px;
		font-size: 30px;
		width: 45px;
		height: 50px;
		color: white;
		border-radius: 3px;
		text-decoration: none;
		margin: 5px 2px;
	}

	.fa.social-media-icon:hover {
		opacity: 0.7;
	}

	.fa-facebook {
		background: #3b5998;
		background: #3b589883;
		color: white;
	}

	.fa-twitter {
		background: #55acee;
		background: #55acee88;
		color: white;
	}

	.fa-linkedin {
		background: #007bb5;
		background: #007cb57d;
		color: white;
	}

	.fa-youtube {
		background: #bb0000;
		background: #bb000081;
		color: white;
	}

	.fa-instagram {
		background: #125688;
		background: #12578884;
		color: white;
	}
}

@media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 812px) {

	.footer {
		/* !!!!! FIX THIS !!!!! */
		/* position: relative; */
		/* top: 3800px; */
		/* !!! HAD TO PLACE FOOTER IN MAIN CONTENT AFTER MAIN COLOUMN !!! */

		width: 100vw;
		height: calc(100vh - 50px);
		background: rgba(0, 0, 0, 0.95);
		color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		/* border: 3px solid orange; */
	}

	.footer-top-img {
		background-image: url("../../images/footer-img-crop-1.jpg");
		background-size: cover;
		width: var(--max-width);
		/* height: 475px; */
		/* height: 400px; */
		height: 350px;
		height: calc(100vh - 100px);
		/* border: 2px solid red; */
	}

	.footer-top-img-cover {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: var(--max-width);
		height: inherit;
		/* background: rgba(0, 0, 0, 0.457); */
		/* background: rgba(0, 0, 0, 0.129); */

		/* !!! */
		/* background: #7a250450; */
		background: #32130740;

		/* background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.546)); */
		/* background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.101), rgba(0, 0, 0, 0.224), rgba(0, 0, 0, 0.307), rgba(0, 0, 0, 0.403), rgba(0, 0, 0, 0.567)); */
		/* border: 2px solid rgb(247, 0, 255); */
	}

	.footer-content--full-width {
		/* height: 60%; */

		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
		/* border: 2px solid white; */
	}

	.footer-info-container-1 {
		width: 100%;
		/* height: 200px; */
		height: 100%;
		height: calc(100vh - 200px);
		max-height: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		/* border: 3px solid #56d2e2; */
	}

	.footer-bottom {
		height: 50px;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		/* border: 1px solid green; */
	}

	.footer p {
		width: 50%;
		/* ??? */
		display: inline-block;
		text-align: center;
		/* border: 1px solid red; */
	}

	.footer-links {
		width: 50%;
		/* border: 1px solid forestgreen; */
	}
}