
/* ========== FOOTER ========== */

.footer {
	width: var(--max-width);
	background: rgba(0, 0, 0, 0.848);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

/* .footer-top-img {
	z-index: 1;
	background-image: url("../../images/footer-img-crop-1.jpg");
	background-size: cover;
	width: var(--max-width);
	height: 475px;
	border: 3px solid red;
} */





.footer-top-parallax-container {
	/* z-index: -1; */
	position: relative;
	background-size: cover;
	width: var(--max-width);
	height: 475px;
	/* border: 3px solid red; */
}

.footer-parallax {
	position: absolute;
	/* left: 0px; */
	/* bottom: 0px; */
	object-fit: cover;
	width: var(--max-width);
	height: 475px;
}

.footer-crop-rock-left {
	z-index: 3;
	/* border: 3px solid orange; */
}

.footer-crop-rock-right {
	z-index: 3;
}

.footer-crop-camera {
	z-index: 2;
}

.footer-crop-full {
	z-index: 1;
}







.footer-top-img-cover {

	z-index: 4;

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-between;
	width: var(--max-width);
	height: inherit;

	/* !!! */
	/* background: #7a250450; */
	background: #32130740;

	/* background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.546)); */
	/* background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.101), rgba(0, 0, 0, 0.224), rgba(0, 0, 0, 0.307), rgba(0, 0, 0, 0.403), rgba(0, 0, 0, 0.567)); */
	
}

.footer-content--full-width {
	width: var(--max-width);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 80px;
	/* border: 1px solid rgba(255, 255, 255, 0.512);  */
}

/* CLEAR DIV-1 */
.footer-content-1 {
	width: 90%;
	max-width: var(--main-content-1400);
	height: 100%;
	display: flex;
	/* border: 1px solid orange; */
}

.footer-info-container-1 {
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	align-items: center;
	justify-content: space-between;
	/* border: 1px solid  #56d2e2;  */
}

.footer-info-container-1 h2 {
	letter-spacing: 0.05rem;
	color: var(--title-blue);
	text-shadow: 1px 1px rgb(107, 107, 107);
	/* border: 1px solid yellow; */
}

.footer-info-container-1 h1::first-letter {
  	text-transform: capitalize;
}

.footer-info-container-1 h3 {
	font-weight: 300;
	letter-spacing: 0.15rem;
	color: var(--sub-title-orange);
}

.footer-info-container-1 h2::first-letter {
  	text-transform: capitalize;
}

.footer-contact-button {
	width: fit-content;
	padding: 0.5rem;
	color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0.211);
	border-radius: 3px;
	margin-top: 1rem;
}

.footer-contact-button:hover {
  	background: rgba(0, 0, 0, 0.498);
}

/* CLEAR DIV-2 */
.footer-content--full-width.full-width-2 {
	height: 90px;
	background: rgba(0, 0, 0, 0.128);
	margin-bottom: 45px;

	/* border-top: 1px solid black;
		border-bottom: 1px solid black; */

	border-top: 1px solid rgba(255, 255, 255, 0.519);
	border-bottom: 1px solid rgba(255, 255, 255, 0.519);
}

.footer-content-2 {
	width: 90%;
	max-width: var(--main-content-1400);
	height: 100%;
	display: flex;
	justify-content: space-between;
	/* border: 1px solid orange; */
}

/* SOCIAL MEDIA ICON CONTAINER */
.footer-info-container-2 {
	height: 100%;
	max-width: var(--main-content-1400);

	display: flex;
	align-items: center;
	justify-content: space-between;
	justify-content: flex-end;
	padding: 0.5rem;
	/* border: 1px solid  #56d2e2;  */
}

.footer-bottom {
	height: 90px;
	width: 90%;
	max-width: var(--main-content-1400);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/* border: 1px solid green; */
}

.footer p {
	display: inline-block;
	margin-left: 1rem;
	/* border: 1px solid red; */
}

.footer a {
	/* color: #56d2e2; */
	/* color: rgb(255, 166, 0); */
	color: #fdae81;
	text-align: center;
	text-decoration: none;
	letter-spacing: 0.04rem;
	font-size: 15px;
	font-weight: 300;
	margin-right: 1rem;
	/* border: 1px solid red; */
}

.fa.social-media-icon {
	padding: 10px;
	font-size: 30px;
	width: 45px;
	height: 50px;
	color: white;
	/* text-align: center; */
	border-radius: 3px;
	text-decoration: none;
	margin: 5px 2px;
}

.fa.social-media-icon:hover {
  	opacity: 0.7;
}

.fa-facebook {
	background: #3b5998;
	background: #3b589883;
	color: white;
}

.fa-twitter {
	background: #55acee;
	background: #55acee88;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	background: #007cb57d;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	background: #bb000081;
	color: white;
}

.fa-instagram {
	background: #125688;
	background: #12578884;
	color: white;
}
