@media only screen and (min-width: 320px) and (max-width: 767px) {

	html,
	body {
    overscroll-behavior-y: contain;
}

	/* ===== PARALLAX IMAGE LAYERS ===== */
	.image-container {
		height: 100vh;
		width: 100%;
		/* !!! IMPORTANT !!! */
		background-size: cover;
		background-position: center;
	}

	/* HIDE LANDSCAPE MOUNTAIN LAYERS */
	img.non-mobile-size {
		display: none;
	}

    /* img.mountain-crop {

		display: none !important;

		position: absolute;
		width: 100%;
		height: 100vh;
		object-fit: cover;
    } */

	img.mountain-mobile-size {
		z-index: -1;
		/* !!! WORKS BEST WITH relative !!!*/
		position: relative;
		/* !!! absolute WILL MESS UP TITLE DIV WHEN RESIZING WINDOW !!! */
		width: 100%;
		height: 100vh;
		object-fit: cover;
		background-position: center;
	}

	
	/* TITLE DIV */

	/* FADE IN ON LOAD */
	@keyframes fadeInAnimation {
		0% {
		opacity: 0;
		}

		100% {
		opacity: 1;
		}
	}

	/* !!! NOT IN USE !!! */

	/* FLASH IN p h o t o g r a p h y WITH SAME COLOR SHADOW */
	/* FOR .flash-fadein, NOW ADDED WITH JS */
	@keyframes flashAnimation {
		0% {
		opacity: 0;
		}

		50% {
		opacity: 0.05;
		}

		75% {
		opacity: 0.75;
		text-shadow: 1px 1px 2px var(--sub-title-orange),
			-1px -1px 2px var(--sub-title-orange);
		}

		90% {
		text-shadow: none;
		}

		100% {
		opacity: 1;
		/* text-shadow: none; */
		}
	}

	.title-div {
		/* !!! !!! */
		z-index: 0;
		position: absolute;
		bottom: 50px;

		width: var(--max-width);
		height: fit-content;
		background: rgba(0, 0, 0, 0.192);

		display: flex;
		align-items: center;
		justify-content: center;

		border-top: 1px solid rgba(255, 255, 255, 0.519);
		border-bottom: 1px solid rgba(255, 255, 255, 0.519);

		/* border: 3px solid red; */
	}


	.title-div-content {
		width: 95%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		/* border: 3px solid orange; */
	}

	.title-div__enzee-container {
		width: var(--max-width);
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-top: 5px;
		/* border: 1px solid orange; */
	}

	h1.enzee__letter {
		/* RESPONSIVE TEXT */
		/* font-size: 12vw; */
		/* letter-spacing: 0.5rem; */
		/* text-shadow: 1px 1px rgba(113, 113, 113, 0.683); */

		/* font-weight: 900; */

		/* ANIMATING Enzee at once */
		/* animation: fadeInAnimation ease-out 2s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards; */

		line-height: 100px;

		/* text-shadow: 2px 2px rgba(113, 113, 113, 0.683), 4px 4px rgba(113, 113, 113, 0.361); */
		/* border: 1px solid red; */
	}

	h1.enzee__letter:nth-of-type(1) {
		text-transform: uppercase;
	}
	/* FADE IN E n z e e IN SEQUENCE */
	/* h1.enzee__letter:nth-of-type(1) {
		text-transform: uppercase;
		animation: fadeInAnimation ease 0.5s;
		animation-iteration-count: 1;
	}
	h1.enzee__letter:nth-of-type(2) {
		animation: fadeInAnimation ease 1s;
		animation-iteration-count: 1;
	}
	h1.enzee__letter:nth-of-type(3) {
		animation: fadeInAnimation ease 1.5s;
		animation-iteration-count: 1;
	}
	h1.enzee__letter:nth-of-type(4) {
		animation: fadeInAnimation ease 2s;
		animation-iteration-count: 1;
	}
	h1.enzee__letter:nth-of-type(5) {
		animation: fadeInAnimation ease 2.5s;
		animation-iteration-count: 1;
	} */

	.title-div__photography-container {
		/* display: flex; */
		width: fit-content;
		width: var(--max-width);
		width: 95%;
		/* FLEX WILL CHANGE FADE IN BEHAVIOR */
		display: flex;
		/* justify-content: center; */
		justify-content: space-around;
		margin-left: 3%;
		margin-bottom: 5px;

		/* border: 1px solid rgb(35, 210, 29); */
	}

	h3.photography__letter {
		display: inline-block;
		/* text-transform: uppercase; */
		/* font-size: 15px; */
		letter-spacing: 1.1rem;
		letter-spacing: 0.5rem;
		/* margin: 0px 0px 0px 0px; */

		/* animation: flashAnimation ease 1s; */
		/* border: 1px solid rgb(0, 183, 255); */
	}

	@media only screen and (max-width: 374px) {

		h1.enzee__letter {
			font-size: 110px;
		}

		.title-div__photography-container {
			/* margin-left: 4%; */
			width: 100%;
			/* border: 1px solid rgb(35, 210, 29); */
		}

		h3.photography__letter {
			font-size: 15px;
			letter-spacing: 1.1rem;
			/* text-transform: lowercase; */
		}

		h3.photography__letter-1 {
			margin-left: 3%;
		}
	}

	.opacityZero {
		opacity: 0;
	}

	.flash-fadein {
		animation: flashAnimation ease 0.5s;
	}

	/* THIS IS NOW DONE BY JS */
	/* FADE IN p h o t o g r a p h y IN SEQUENCE WITH CSS */

	/* ========== MAIN CONTENT ========== */

	/* !!!!! overflow:hidden PREVENTS LANDING PAGE FROM BEING PUSHED SIDEWAYS WHEN CATEGORY DIVS X POSITION OVERFLOWS !!!!!   */
	.main-content {
		z-index: 2;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: var(--max-width);

		overflow: hidden;

		/* border: 3px solid red; */
	}

	.main-coloumn {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin-top: 100px;

		/* border: 3px solid orange; */
	}

	/* DIV WITH NO HEIGHT, TRIGGERS SCROLL ANIMATION ON ITS SIBLING */
	.spacer-trigger {
		width: 100%;
		/* border: 3px solid rgb(1, 84, 95); */
	}

	.portrait-container {
		width: var(--max-width);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		/* margin: 20px; */

		/* border: 3px solid rgb(19, 104, 110); */
	}

	/* width CONTROLS CATEGORY IMG WIDTH */
	.portrait-column {
		width: 90%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		/* margin: 10px 5px 0px 5px; */

		/* border: 3px solid olive; */
	}

	/* RIGHT HAND SIDE PORTRAIT STYLE COLUMN, non-reverse IN SMALL !!!*/
	.portrait-column--reverse {
		flex-direction: column;
		margin: 150px 5px 50px 5px;

		/* border: 3px solid aqua; */
	}


	/* ===== CATEGORY IMGS HOVER-ZOOM  ===== */

	/* ===== PORTRAIT ===== */
	.portrait-img-container {
		width: 100%;
		/* border: 3px solid rgb(231, 231, 44); */
	}

	/* !!! How to Create a Responsive Square with CSS !!! */
	/* https://spin.atomicobject.com/2015/07/14/css-responsive-square/ */

	/* IMG CONTAINER width CONTROLS CATEGORY IMG WIDTH */
	.img-hover-zoom--portrait {
		position: relative;
		width: 100%;
		overflow: hidden;
		/* border: 5px solid hotpink; */
	}

	.img-hover-zoom--portrait::after {
		content: "";
  		display: block;
  		padding-bottom: 100%;
  		/* overflow: hidden; */

	}

	/* ACTUAL CATEGORY IMAGE */
	img.portrait-style {
		width: var(--max-width);
		position: absolute;
  		width: 100%;
  		/* height: 100%; */
  		height: auto;
	}
	/* ===== LANDSCAPE ===== */
	.landscape-img-container {
		width: 100%;
		/* border: 3px solid yellow; */
	}

	.img-hover-zoom--landscape {
		position: relative;
		width: 100%;
		overflow: hidden;
		/* border: 5px solid hotpink; */
	}

	.img-hover-zoom--landscape::after {
		content: "";
  		display: block;
  		padding-bottom: 100%;
  		/* overflow: hidden; */

	}

	img.landscape-style {
		width: var(--max-width);
		position: absolute;
  		width: 150%;
  		height: auto;
	}






	/* CATEGORY TEXT CONTAINERS */

	.category-text-container {
		text-align: left;
		color: rgba(0, 0, 0, 0.724);
		padding-left: 1rem;
		border-left: 2px solid rgba(0, 0, 0, 0.272);
	}

	.portrait-text-container {
		width: 90%;
		/* margin-top: 0.25rem; */

		/* border: 3px solid burlywood; */
	}

	.landscape-text-container {
		width: 90%;
		/* margin-top: 2rem; */
		/* margin-bottom: none; */

		/* border: 3px solid burlywood; */
	}


	p.category-info-text {
		font-weight: 300;
		color: rgba(0, 0, 0, 0.724);
	}

	/* FIRST 3 CATEGORIES */
	h3.category-info-title {
		color: var(--sub-title-orange);
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}

	/* LANDSCAPE CONTAINER */
	.landscape-container {
		width: var(--max-width);
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		/* margin: 75px; */
		margin-top: 150px;
		margin-bottom: 100px;
		/* padding: 5%; */
		padding: 0px;

		/* border: 3px solid rgb(59, 72, 190); */
	}




	/* MOSAIC CONTAINER */

	.mosaic-container {
		/* background-image: url("./images/mosaic-wide.png"); */
		background-size: cover;
		/* width: 100vw; */
		/* !!! MAKE IT WIDER FOR X SLIDE ANIMATION !!! */
		width: 120vw;
		height: 52.5vh;
		height: 66vh;
		filter: grayscale(0.5) contrast(150%);
		/* filter: grayscale(.25) blur(.1px) opacity(0.90);   */

		border-top: 50px solid grey;
		border-bottom: 5px solid grey;
		margin: 50px 0px 100px 0px;
	}

	/* MOSAIC SLICES */

	.mosaic-slice-container-1 {
		background-image: url("../../images/mosaic-wide-slice-1.png");
		background-size: cover;
		/* width: 100vw; */
		/* !!! MAKE IT WIDER FOR X SLIDE ANIMATION !!! */
		width: 120vw;
		height: 33.33%;
	}

	.mosaic-slice-container-2 {
		background-image: url("../../images/mosaic-wide-slice-2.png");
		background-size: cover;
		/* width: 100vw; */
		/* !!! MAKE IT WIDER FOR X SLIDE ANIMATION !!! */
		width: 120vw;
		height: 33.33%;
	}

	.mosaic-slice-container-3 {
		background-image: url("../../images/mosaic-wide-slice-3.png");
		background-size: cover;
		/* width: 100vw; */
		/* !!! MAKE IT WIDER FOR X SLIDE ANIMATION !!! */
		width: 120vw;
		height: 33.33%;
	}

	/* CATEGORY INFO DIVS */
	.info-div {
		position: relative;
		padding: 5px 0px 3px 5px;
		/* background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.622),
		rgba(0, 0, 0, 0.272),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0)
		); */
		background: rgba(0, 0, 0, 0.135);

		border-top: 1px solid rgba(255, 255, 255, 0.519);
		border-bottom: 1px solid rgba(255, 255, 255, 0.519);
		/* 
		border-top: 1px solid rgba(0, 0, 0, 0.663);
		border-bottom: 1px solid rgba(0, 0, 0, 0.663); */
		/* border-radius: 5px; */

		/* -ms-transform: rotate(-90deg); */
		/* transform: rotate(-90deg); */

		/* border: 1px solid rgba(255, 166, 0, 0.861); */
	}

	/* .info-div h2 {
		font-size: 45px;
	} */

	.portrait-img-container .info-div {
		width: 100%;
		top: -80px;
		/* top: -70px; */
		/* left: -215px; */
	}

	.landscape-img-container .info-div {
		width: 100%;
		top: -75px;
		/* left: -165px; */
	}

	.info-div-content h2.category {
		margin-left: 0.5rem;
	}

	/* ========== FOOTER ========== */

	
}


@media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {

	/* html,
	body {
    overscroll-behavior-y: contain;
} */
	
/* @media only screen and (orientation: landscape) and (min-width: 320px) and (max-width: 812px) {	 */


	img.mountain-mobile-size {
		display: none;
	}

	img.non-mobile-size {
		display: block;
		z-index: -1;
		/* !!! WORKS BEST WITH relative !!!*/
		position: relative;
		/* !!! absolute WILL MESS UP TITLE DIV WHEN RESIZING WINDOW !!! */
		width: 100%;
		height: 100vh;
		object-fit: cover;
		background-position: center;
	}

	.title-div {
		bottom: 25px;
	}

	.title-div-content {
		/* width: 95%; */
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: space-between;
		height: fit-content;
		/* height: 100px; */

		/* border: 3px solid orange; */
	}

	.title-div__enzee-container {
		/* width: var(--max-width); */
		/* flex: 1; */
		display: flex;
		align-items: center;
		justify-content: space-around;
		max-width: 33%;
		/* margin-top: 5px; */
		/* border: 1px solid orange; */
	}

	h1.enzee__letter {
		/* RESPONSIVE TEXT */
		font-size: 60px;
		/* letter-spacing: 0.5rem; */
		/* text-shadow: 1px 1px rgba(113, 113, 113, 0.683); */

		/* font-weight: 900; */

		/* ANIMATING Enzee at once */
		/* animation: fadeInAnimation ease-out 2s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards; */

		line-height: 50px;

		/* text-shadow: 2px 2px rgba(113, 113, 113, 0.683), 4px 4px rgba(113, 113, 113, 0.361); */
		/* border: 1px solid red; */
	}

	.title-div__photography-container {
		/* flex: 1; */
		/* display: flex; */
		/* width: fit-content; */
		/* width: var(--max-width); */
		/* width: 95%; */
		/* FLEX WILL CHANGE FADE IN BEHAVIOR */
		display: flex;
		max-width: 40%;
		/* justify-content: center; */
		justify-content: space-around;
		/* margin-left: 3%; */
		margin-bottom: 5px;

		/* border: 1px solid rgb(35, 210, 29); */
	}

	/* .main-content {
		border: 3px solid red;
	} */

	/* .main-coloumn {
		border: 3px solid orange;
	} */

	/* DIV WITH NO HEIGHT, TRIGGERS SCROLL ANIMATION ON ITS SIBLING */
	.spacer-trigger {
		width: 100%;
		/* border: 3px solid rgb(1, 84, 95); */
	}

	.portrait-container {
		width: var(--max-width);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		/* margin: 20px; */

		/* border: 3px solid rgb(19, 104, 110); */
	}

	/* width CONTROLS CATEGORY IMG WIDTH */
	.portrait-column {
		width: 90%;
		max-height: 100vh;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		/* margin: 10px 5px 0px 5px; */

		/* border: 3px solid olive; */
	}

	/* RIGHT HAND SIDE PORTRAIT STYLE COLUMN, non-reverse IN SMALL !!!*/
	.portrait-column--reverse {
		max-height: 100vh;
		flex-direction: row-reverse;
		margin: 90px 5px 10px 5px;

		/* border: 3px solid aqua; */
	}

	.portrait-img-container {
		width: 45%;
		max-height: 100vh;
		
		/* border: 5px solid rgb(231, 231, 44); */
	}


	img.portrait-style {
		width: 100%;
		height: auto;
		/* max-height: 375px; */
		/* border: 10px solid rgb(0, 0, 0); */
	}

	/* width CONTROLS CATEGORY IMG WIDTH */
	.img-hover-zoom--portrait {
		width: 100%;
		
		/* border: 5px solid hotpink; */
	}

	/* LANDSCAPE CONTAINER */
	.landscape-container {
		width: var(--max-width);
		width: 90%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		/* justify-content: center; */
		/* margin: 75px; */
		margin-top: 100px;
		/* margin-bottom: 50px; */
		/* max-height: 100vh; */
		padding: 0px;

		/* border: 3px solid rgb(59, 72, 190); */
	}

	/* width CONTROLS LANDSCAPE CATEGORY IMG WIDTH */
	.landscape-img-container {
		width: 45%;
		max-height: 300px;
		/* border: 3px solid yellow; */
	}

	.img-hover-zoom--landscape {
		width: 100%;

		/* border: 3px solid red; */
	}

	/* img.landscape-style {
		border: 3px solid rgb(106, 235, 8);
	} */
	
	/* CATEGORY TEXT CONTAINERS */

	.category-text-container {
		text-align: left;
		color: rgba(0, 0, 0, 0.724);
		padding-left: 1rem;
		border-left: 2px solid rgba(0, 0, 0, 0.272);
	}

	.portrait-text-container {
		width: 45%;
		/* margin-top: 0.25rem; */

		/* border: 3px solid burlywood; */
	}

	.landscape-text-container {
		width: 45%;
		/* margin-top: 12%; */

		/* border: 3px solid burlywood; */
	}


	p.category-info-text {
		font-weight: 300;
		color: rgba(0, 0, 0, 0.724);
	}

	/* FIRST 3 CATEGORIES */
	h3.category-info-title {
		color: var(--sub-title-orange);
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}

	/* MOSAIC CONTAINER */

	.mosaic-container {
		/* background-image: url("./images/mosaic-wide.png"); */
		background-size: cover;
		/* width: 100vw; */
		/* !!! MAKE IT WIDER FOR X SLIDE ANIMATION !!! */
		width: 120vw;
		height: 52.5vh;
		height: 100vh;
		filter: grayscale(0.5) contrast(150%);
		/* filter: grayscale(.25) blur(.1px) opacity(0.90);   */

		border-top: 10px solid grey;
		border-bottom: 10px solid grey;
		margin: 90px 0px 135px 0px;
	}

	/* MOSAIC SLICES */

	.mosaic-slice-container-1 {
		background-image: url("../../images/mosaic-wide-slice-1.png");
		background-size: cover;
		/* width: 100vw; */
		/* !!! MAKE IT WIDER FOR X SLIDE ANIMATION !!! */
		width: 120vw;
		height: 33.33%;
	}

	.mosaic-slice-container-2 {
		background-image: url("../../images/mosaic-wide-slice-2.png");
		background-size: cover;
		/* width: 100vw; */
		/* !!! MAKE IT WIDER FOR X SLIDE ANIMATION !!! */
		width: 120vw;
		height: 33.33%;
	}

	.mosaic-slice-container-3 {
		background-image: url("../../images/mosaic-wide-slice-3.png");
		background-size: cover;
		/* width: 100vw; */
		/* !!! MAKE IT WIDER FOR X SLIDE ANIMATION !!! */
		width: 120vw;
		height: 33.33%;
	}

	/* CATEGORY INFO DIVS */
	.info-div {
		position: relative;
		padding: 5px 0px 3px 5px;
		/* background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.622),
		rgba(0, 0, 0, 0.272),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0)
		); */
		background: rgba(0, 0, 0, 0.135);

		border-top: 1px solid rgba(255, 255, 255, 0.519);
		border-bottom: 1px solid rgba(255, 255, 255, 0.519);
		/* 
		border-top: 1px solid rgba(0, 0, 0, 0.663);
		border-bottom: 1px solid rgba(0, 0, 0, 0.663); */
		/* border-radius: 5px; */

		/* -ms-transform: rotate(-90deg); */
		/* transform: rotate(-90deg); */

		/* border: 1px solid rgba(255, 166, 0, 0.861); */
	}

	/* .info-div h2 {
		font-size: 45px;
	} */

	.portrait-img-container .info-div {
		width: 100%;
		top: -80px;
		/* top: -70px; */
		/* left: -215px; */
	}

	.landscape-img-container .info-div {
		width: 100%;
		top: -75px;
		/* left: -165px; */
	}

	.info-div-content h2.category {
		margin-left: 0.5rem;
	}

}

