@media only screen and (min-width: 813px) and (max-width: 1399px) {
	/* ===== PARALLAX IMAGE LAYERS ===== */
	.image-container {
		height: 100vh;
		width: 100%;
		/* !!! IMPORTANT !!! */
		background-size: cover;
		background-position: center;
	}

	img.mountain-mobile-size {
		display: none;
	}

	img.mountain-full {
		z-index: -6;
		position: relative;
		width: 100%;
		height: 100vh;
		object-fit: cover;
		background-position: center;
	}

	img.mountain-crop {
		display: none;
		position: absolute;
		width: 100%;

		bottom: 0px;
		left: 0px;
	}

	/* !!! absolute ON LAYERS !!! */
	img.mountain-crop-1 {
		z-index: -1;
	}

	img.mountain-crop-2 {
		z-index: -2;
	}

	img.mountain-crop-3 {
		z-index: -3;
	}

	img.mountain-crop-4 {
		z-index: -4;
	}

	img.mountain-crop-5 {
		z-index: -5;
	}



	/* !!! BLUR HOMEPAGE EXCEPT NAVBAR WHEN SEARCH BAR IS ACTIVE !!! */
	/* GRAYSCALE + BLUR */
	.blurred {
		filter: grayscale(0.5) blur(2px);
		filter: grayscale(0.25) blur(1px) opacity(0.75);
	}

	

	/* TITLE DIV */

	/* FADE IN ON LOAD */
	@keyframes fadeInAnimation {
		0% {
		opacity: 0;
		}

		100% {
		opacity: 1;
		}
	}

	/* FLASH IN p h o t o g r a p h y WITH SAME COLOR SHADOW */
	/* FOR .flash-fadein, NOW ADDED WITH JS */
	@keyframes flashAnimation {
		0% {
		opacity: 0;
		}

		50% {
		opacity: 0.05;
		}

		75% {
		opacity: 0.75;
		text-shadow: 1px 1px 2px var(--sub-title-orange),
			-1px -1px 2px var(--sub-title-orange);
		}

		90% {
		text-shadow: none;
		}

		100% {
		opacity: 1;
		/* text-shadow: none; */
		}
	}

	.title-div {
		z-index: 0;
		position: absolute;
		bottom: 45px;
		/* bottom: 5%; */
		width: var(--max-width);
		height: 135px;
		margin: auto;

		background: rgba(0, 0, 0, 0.192);
		/* background: #56d2e213; */
		/* background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)); */
		/* background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.101), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.601), rgba(0, 0, 0, 0.8), rgb(0, 0, 0)); */

		display: flex;
		align-items: flex-end;
		justify-content: center;

		border-top: 2px solid black;
		border-bottom: 2px solid black;

		border-top: 1px solid rgba(255, 255, 255, 0.519);
		border-bottom: 1px solid rgba(255, 255, 255, 0.519);

		/* FADE IN ON LOAD */
		animation: fadeInAnimation ease 0.5s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	.title-div-content {
		width: 95%;
		height: inherit;
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		/* border: 3px solid orange; */
	}

	.title-div__enzee-container {
		display: flex;
		/* margin-top: 6px; */
		/* border: 1px solid orange; */
	}

	h1.enzee__letter {
		/* RESPONSIVE TEXT */
		/* font-size: 12vw; */
		letter-spacing: 0.2rem;

		/* ANIMATING Enzee at once */
		animation: fadeInAnimation ease-out 3s;
		/* border: 1px solid red; */
	}

	h1.enzee__letter:nth-of-type(1) {
		text-transform: uppercase;
	}

	.title-div__photography-container {
		display: flex;
		width: fit-content;
		/* border: 1px solid orange; */
	}

	.opacityZero {
		opacity: 0;
	}

	h3.photography__letter {
		/* text-transform: uppercase; */
		letter-spacing: 1.1rem;
		margin: 90px 0px 0px 0px;
		/* border: 1px solid lime; */
	}

	.flash-fadein {
		animation: flashAnimation ease 0.75s;
	}

	/* FADE IN p h o t o g r a p h y IN SEQUENCE WITH CSS */
	/* THIS IS NOW DONE BY JS */
	

	/* ========== MAIN CONTENT ========== */

	/* !!!!! overflow: hidden PREVENTS LANDING PAGE FROM BEING PUSHED SIDEWAYS WHEN CATEGORY DIVS X POSITION OVERFLOWS !!!!!   */
	.main-content {
		z-index: 2;
		position: absolute;

		display: flex;
		flex-direction: column;
		align-items: center;
		width: var(--max-width);
		background: white;
		overflow: hidden;
		/* border: 3px solid red; */
	}

	.main-coloumn {
		width: 90%;
		max-width: var(--main-content-1400);

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin-top: 50px;
		/* border: 3px solid orange; */
	}

	/* DIV WITH NO HEIGHT, TRIGGERS SCROLL ANIMATION ON ITS SIBLING */
	.spacer-trigger {
		width: 100%;
		/* border: 3px solid rgb(1, 84, 95); */
	}

	.portrait-container {
		width: var(--max-width);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		margin: 20px;
		/* border: 3px solid rgb(19, 104, 110); */
	}

	/* width CONTROLS CATEGORY IMG WIDTH */
	.portrait-column {
		width: 35%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 10px 5px 150px 5px;
		/* border: 3px solid olive; */
	}

	/* RIGHT HAND SIDE PORTRAIT STYLE COLUMN */
	.portrait-column--reverse {
		flex-direction: column-reverse;
		margin: 150px 5px 10px 5px;
		/* border: 3px solid aqua; */
	}

	/* !!! ALLOW AN EXTRA 40PX HEIGHT TO CONTAIN TITLE DIV SO IT WON'T STICK OUT OF CONTAINER / MESS WITH INFO DIV HOVER !!! */
	.portrait-img-container {
		width: 100%;
		/* border: 3px solid yellow; */
	}

	/* ===== CATEGORY IMGS HOVER-ZOOM  ===== */
	/* [1] The container */
	.img-hover-zoom {
		border-radius: 3px;
		/* [1.2] Hide the overflowing of child elements */
		overflow: hidden;
		/* border: 3px solid tomato; */
	}

	.img-hover-zoom--portrait {
		width: 100%;
		max-width: 500px;
		max-height: 600px;
	}

	/* [2] Transition property for smooth transformation of images */
	.img-hover-zoom img {
		transition: transform 1s ease;
	}

	/* [3] Finally, transforming the image when container gets hovered */
	/* THIS INCLUDES IMAGE + INFO DIV */
	.portrait-img-container:hover img {
		transform: scale(1.025);
	}

	/* CATEGORY TEXT CONTAINERS */

	.category-text-container {
		text-align: left;
		color: rgba(0, 0, 0, 0.724);
		padding-left: 1rem;
		border-left: 2px solid rgba(0, 0, 0, 0.272);
	}

	.portrait-text-container {
		width: 90%;
		margin-top: 2rem;
		/* border: 3px solid burlywood; */
	}

	.landscape-text-container {
		width: 30%;
		margin-top: 8rem;
		/* border: 3px solid burlywood; */
	}

	.portrait-column--reverse .portrait-text-container {
		margin-bottom: 4rem;
	}

	p.category-info-text {
		font-weight: 300;
		color: rgba(0, 0, 0, 0.724);
	}

	/* FIRST 3 CATEGORIES */
	h3.category-info-title {
		color: var(--sub-title-orange);
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}

	/* LAST 3 CATEGORIES */
	h4.category-info-title {
		color: var(--sub-title-orange);
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}

	img.portrait-style {
		width: var(--max-width);
		border-radius: 3px;
		/* border: 1px solid rgba(0, 0, 0, 0.286); */
	}

	.portrait-reverse .portrait-img-container {
		margin-top: 100px;
	}

	/* LANDSCAPE CONTAINER */
	.landscape-container {
		width: var(--max-width);
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 75px;
		margin-top: 100px;
		padding: 5%;
		/* border: 3px solid rgb(59, 72, 190); */
	}

	/* width CONTROLS LANDSCAPE CATEGORY IMG WIDTH */
	/* !!! ALLOW AN EXTRA 40PX HEIGHT TO CONTAIN TITLE DIV SO IT WON'T STICK OUT OF CONTAINER / MESS WITH INFO DIV HOVER !!! */
	.landscape-img-container {
		width: 60%;
		width: 65%;
		max-height: 530px;
		/* border: 3px solid yellow; */
	}

	/* THIS INCLUDES IMAGE + INFO DIV */
	.landscape-img-container:hover img {
		transform: scale(1.025);
	}

	.img-hover-zoom--landscape {
		width: 100%;
		max-height: 490px;
		/* border: 3px solid red; */
	}

	img.landscape-style {
		width: var(--max-width);
		border-radius: 3px;
		/* border: 3px solid rgb(106, 235, 8); */
	}

	/* MOSAIC CONTAINER */

	.mosaic-container {
		/* background-image: url("./images/mosaic-wide.png"); */
		background-size: cover;
		/* width: 100vw; */
		/* !!! MAKE IT WIDER FOR X SLIDE ANIMATION !!! */
		width: 120vw;
		height: 52.5vh;
		filter: grayscale(0.5) contrast(150%);
		border-top: 45px solid grey;
		border-bottom: 5px solid grey;
		margin: 90px 0px 135px 0px;
	}

	/* MOSAIC SLICES */

	.mosaic-slice-container-1 {
		background-image: url("../../images/mosaic-wide-slice-1.png");
		background-size: cover;
		/* width: 100vw; */
		/* !!! MAKE IT WIDER FOR X SLIDE ANIMATION !!! */
		width: 120vw;
		height: 33.33%;
	}

	.mosaic-slice-container-2 {
		background-image: url("../../images/mosaic-wide-slice-2.png");
		background-size: cover;
		/* width: 100vw; */
		/* !!! MAKE IT WIDER FOR X SLIDE ANIMATION !!! */
		width: 120vw;
		height: 33.33%;
	}

	.mosaic-slice-container-3 {
		background-image: url("../../images/mosaic-wide-slice-3.png");
		background-size: cover;
		/* width: 100vw; */
		/* !!! MAKE IT WIDER FOR X SLIDE ANIMATION !!! */
		width: 120vw;
		height: 33.33%;
	}

	.category-img {
		filter: grayscale(0.2) blur(0.1px) opacity(1);
	}

	.category-img-container:hover .category-img {
		filter: grayscale(0) blur(0px) opacity(1);
	}

	/* FADE OUT / SLIDE INFO DIV */
	.category-img-container:hover .info-div {
		opacity: 0.4;
		/* !!! ANIMATING WIDTH WILL CAUSE A COOL translateX EFFECT !!! */
		width: 500px;
	}

	.category-img-container:hover .info-div--landscape {
		/* !!! ANIMATING WIDTH WILL CAUSE A COOL translateX EFFECT !!! */
		width: 400px;
	}

	/* CATEGORY INFO DIVS */
	.info-div {
		width: 600px;
		height: 65px;
		position: relative;
		top: -300px;
		left: -215px;
	
		background: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.622),
		rgba(0, 0, 0, 0.272),
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0)
		);
		border-radius: 5px;

		-ms-transform: rotate(-90deg); /* IE 9 */
		transform: rotate(-90deg);

		/* FADE OUT/SLIDE WHEN IMAGE IS HOVERED  */
		transition: opacity 1s ease, width ease 1s;
		/* border: 1px solid rgba(255, 166, 0, 0.861); */
	}

	.landscape-img-container .info-div {
		width: 500px;
		top: -250px;
		left: -165px;
	}

	.info-div-content h2.category {
		margin-left: 2rem;
		margin-right: 1rem;
	}

	/* ========== FOOTER ========== */

	
}

