:root {
    /* --main-background: #75bdc16f; */
    --main-background: #ffffff;
    --title-blue: #56d2e2;
    --sub-title-orange: #fdae81;
    --category-grey: #d6d6d6cf;
    /* --category-grey: #56d2e2; */

    --max-width: 100%;
    --main-content-1400: 1400px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* filter: grayscale(1); */
}

body {
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif;
    background: var(--main-background);
}
.hidden {
  display: none;
}

/* TITLE: Enzee */
h1 {
  /* font-size: 45px; */

  font-size: 120px;

  font-weight: 100;
  font-weight: 700;
}

.brand-color {
  font-weight: 700;
  color: var(--title-blue);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.683);
}

/* CATEGORY TITLE: model etc, AND FOOTER SLOGAN */
h2 {
  font-size: 60px;
  /* font-weight: 700; */
}

/* SUB-TITLE: photography AND FOOTER SLOGAN: you're in the right place */
h3 {
  font-size: 30px;
  font-weight: 300;
  color: var(--sub-title-orange);
}

/* CATEGORY INFO */
h4 {
  font-size: 20px;
}

p {
  font-size: 15px;
  font-weight: 100;
}


  
.hidden {
    display: none;
}

/* GRAYSCALE + BLUR */
.blurred {
    /* filter: blur(5px); */
    /* -webkit-filter: blur(5px); */
    /* backdrop-filter: grayscale(1);   */

    /* CAN LEAVE backdrop OUT */
    filter: grayscale(.5) blur(2px);  
    filter: grayscale(.25) blur(1px) opacity(0.75);  
}

  


/* ========== MAIN CONTENT ========== */

/* DESIGN 2 */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--max-width);
    height: fit-content;

    /* border: 3px solid red; */
}

.main-coloumn {
    /* z-index: -1; */
    width: 90%;
    max-width: var(--main-content-1400);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    margin-bottom: 200px;
    margin-top: 100px;

    /* border: 3px solid orange; */
}

.category-title-container {
    margin: 45px 0px 90px 0px;
    /* border: 3px solid cyan; */
}

.category-title-container h1 {
    font-size: 60px;
    font-weight: 400;
}

.gallery-container {
    /* display: flex; */
    /* float: left; */
    width: 1200px;

    /* !!!!! THIS WAS CAUSING CONTENT OVERFLOW !!!!!  */
    /* height: 100vh; */


    /* border: 3px solid rgb(0, 255, 140); */
}

/* .portrait-img-container {
    width: 378px;
    height: 567px;
    float: left;
    margin: 10px;
    background-size: cover;
    border: 3px solid green;
} */





/*  ========== LIGHTBOX W3S ========== */

/* ===== GALLERY IMAGES ===== */
.gallery-img-container .gallery-div {
  /* !!! float:left NOT ALIGNING IMAGES PROPERLY !!! */
  display: inline-block;
  width: 32%;
  /* width: 375px; */
  margin: 5px;
  /* border: 3px solid rgb(86, 86, 249); */
}

/* img.gallery-img {
  width: 100%;
  margin: 10px;
  border: 3px solid lightskyblue;
} */

img.hover-shadow {
  width: 100%;
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}


/* .row > .column {
  padding: 0 8px;
} */

/* 
.row:after {
  content: "";
  display: table;
  clear: both;
} */


/* The Modal (background) */

/* FADE IN AMIMATION FOR MODAL AND MODAL IMGS */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.97);
/* FADE IN MODAL */
  animation: fadeIn .7s;
  /* border: 3px solid rgb(212, 91, 43); */
}

/* !!!!! FADE OUT / HIDE IS DONE WITH closeModal() !!!!! */
.modal.fade-out {
  animation: fadeOut 1s;
}

img.modal-img {
    width: 75%;
    animation: fadeIn .5s;
    /* height: 50%; */
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  position: relative;
  background-color: #fefefe;
  background-color: #15191921;
  margin: 1% auto;
  width: 90%;
  max-width: 1200px;

  /* border: 3px solid rgb(128, 0, 43); */
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* ===== MODAL IMG CONTAIMERS ===== */
/* Hide the slides by default */
.modal-img-div {
  display: none;
  width: 53%;
  margin: auto;

  /* overflow: scroll; */
  /* max-height: 600px; */
  /* border: 3px solid rgb(254, 176, 31); */
}

.modal-img-div.fade-out {
  animation: fadeOut .75s;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  /* width: auto; */
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.image-counter-div {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  height: 20px;
  height: 1%;
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
  
  /* border: 3px solid rgb(255, 218, 149); */
}

.thumbnail-container {
  /* display: block; */
  /* height: fit-content; */
  /* height: 200px; */
  width: 75%;
  margin: auto;
  /* !!! MAKE x-scroll WORK !!! */
  overflow: scroll;

  /* border: 3px solid rgb(27, 196, 27); */
}

/* Create 3 equal columns that floats next to eachother */
.thumbnail-container .thumbnail-div {
  /* float: left; */
  display: inline-block;
  width: 10%;
  margin: 0px 1px;
  /* height: 100%; */
  /* border: 3px solid rgb(238, 238, 31); */
}

/* ===== THUMBNAIL IMAGES ===== */
img.thumbnail-image {
  width: 100%;
  /* margin: 2px; */
  opacity: 0.6;

  /* border: 3px solid rgb(219, 34, 34); */
}

.active,
.thumbnail-image:hover {
  opacity: 1;
  cursor: pointer;
}












/* ========== FOOTER ========== */

.footer {
    /* height: 300px; */
    /* height: 630px; */
    /* width: 100%; */
    width: var(--max-width);
    background: rgba(0, 0, 0, 0.848);
    /* background: rgba(0, 0, 0, 0.923); */
    /* background: #2f2f35; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    /* border-top: 45px solid rgb(136, 136, 136); */
    /* border-top: 45px solid rgba(189, 187, 187, 0.766); */
}

.footer-top-img {
    z-index: 1;
    /* background-image: url("../../images/footer-img-crop-1.jpg"); */
    background-size: cover;
    /* border: 1px solid red; */
    /* width: 100%; */
    width: var(--max-width);
    height: 475px;

    /* border-top: 5px solid black; */
}

.footer-top-img-cover {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    justify-content: space-between;
    /* top: -400px; */
    /* width: 100%; */
    width: var(--max-width);
    height: inherit;
    /* background: rgba(0, 0, 0, 0.457); */
    /* background: rgba(0, 0, 0, 0.129); */

    /* !!! */
    /* background: #7a250450; */
    background: #32130740;

    /* background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.546)); */
    /* background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.101), rgba(0, 0, 0, 0.224), rgba(0, 0, 0, 0.307), rgba(0, 0, 0, 0.403), rgba(0, 0, 0, 0.567)); */
    /* border-bottom: 10px solid black; */
    /* border-top: 90px solid rgba(0, 0, 0, 0); */
}

.footer-content--full-width {
    /* width: 100%; */
    width: var(--max-width);
    /* height: 120px; */
    /* height: fit-content; */

    display: flex;
    align-items: center;
    justify-content: center;

    /* background: rgba(0, 0, 0, 0.135); */
    /* background-image: linear-gradient(to right,rgba(182, 101, 101, 0.218), rgba(0, 0, 0, 0)); */

    /* border: 3px solid black; */
    /* border: 1px solid rgba(255, 255, 255, 0.512);  */

    /* margin-top:90px; */

    margin-top: 45px;
    margin-top: 30px;
    margin-top: 80px;
/* 
    border-top: 1px solid rgba(255, 255, 255, 0.759);
    border-bottom: 1px solid rgba(255, 255, 255, 0.759); */
}


/* CLEAR DIV-1 */
.footer-content-1 {
    width: 90%;
    max-width: var(--main-content-1400);
    height: 100%;
    /* height: 180px; */

    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */

    /* padding: none; */
    /* border: 1px solid orange; */
}

.footer-info-container-1 {
    /* width: 80%; */
    height: 180px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
    justify-content: space-between;


    /* border-top: 1px solid rgba(255, 255, 255, 0.759); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.759); */
    /* padding: .5rem; */
    /* margin-left: 1rem; */
    /* border: 1px solid  #56d2e2;  */
}

.footer-info-container-1 h2 {
    font-size: 60px;
    /* font-size: 70px; */
    font-weight: 700;
    letter-spacing: .05rem;

    /* margin-bottom: 10px; */

    color: var(--title-blue);
    
    /* border: 1px solid yellow; */
    text-shadow: 1px 1px rgb(107, 107, 107);
   
}

.footer-info-container-1 h2::first-letter {
    text-transform: capitalize;
}

.footer-info-container-1 h3 {
    font-weight: 300;
    letter-spacing: .15rem;
    /* color: #fdae81; */
    color: var(--sub-title-orange);
    /* color: #ffffff; */
    /* color: #000000;  */
    /* text-shadow: 1px 1px rgba(0, 0, 0, 0.683); */
}

.footer-info-container-1 h2::first-letter {
    text-transform: capitalize;
}

.footer-contact-button {
  width: fit-content;
  padding: .5rem;
  color: rgb(255, 255, 255);
  /* border: 1px solid rgba(255, 255, 255, 0.779); */
  background: rgba(0, 0, 0, 0.211);

  /* color: black;
  border: 1px solid black; */

  border-radius: 3px;
  margin-top: 1rem;
  /* margin-left: 7rem; */
}

.footer-contact-button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.498);
  
}

/* CLEAR DIV-2 */
.footer-content--full-width.full-width-2 {

    height: 90px;
    background: rgba(0, 0, 0, 0.128);
    /* background-image: linear-gradient(to right,rgba(0, 0, 0, 0.355), rgba(0, 0, 0, 0.149)); */

    margin-bottom: 45px;

     /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    
    border-top: 1px solid rgba(255, 255, 255, 0.519);
    border-bottom: 1px solid rgba(255, 255, 255, 0.519);

}

.footer-content-2 {
    width: 90%;
    max-width: var(--main-content-1400);
    height: 100%;

    display: flex;
    justify-content: space-between;


    /* border: 1px solid orange; */
}

.footer-info-container-2 {
    height: 100%;
    /* width: 100%; */
    max-width: var(--main-content-1400);

    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-end;



    /* border-top: 1px solid rgba(255, 255, 255, 0.759); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.759); */
    padding: .5rem;
    /* margin-right: 1rem; */
    /* border: 1px solid  #56d2e2;  */
}
/* 
.footer-info-container-2 .logo-container--4 {
    flex: 0;
    border: 1px solid rgb(23, 219, 23);
} */

/* .social-media-icon-container {
    border: 1px solid  #56d2e2; 
    margin-right: 1rem;
} */

/* 
.footer-img {
    width: 100%;
    max-height: 400px;
} */

.footer-bottom {
    height: 90px;
    width: 90%;
    max-width: var(--main-content-1400);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border-top: 1px solid rgba(255, 255, 255, 0.491); */
    /* border-top: 1px solid rgb(0, 0, 0); */
    /* border: 1px solid green; */
    /* border-top: 5px solid rgba(189, 187, 187, 0.766); */
}

/* .footer hr {
    width: 90%;
    max-width: 1500px;
    border: none;
    border-top: 1px solid white;
} */

.footer p {
    display: inline-block;
    /* border: 1px solid red; */
    margin-left: 1rem;
}

.footer a {
    /* display: inline-block; */
    color: #56d2e2;
    color: rgb(255, 166, 0);
    color: #fdae81;
    text-align: center;
    text-decoration: none;
    /* color: black; */
    /* color: rgba(255, 255, 255, 0.753); */
    letter-spacing: .04rem;
    font-size: 15px;
    font-weight: 300;
    /* border: 1px solid red; */
    margin-right: 1rem;

    
}

.fa.social-media-icon {
    padding: 10px;
    font-size: 30px;
    width: 45px;
    height: 50px;
    color: white;
    /* text-align: center; */
    border-radius: 3px;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa.social-media-icon:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    background: #3b589883;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    background: #55acee88;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    background: #007cb57d;
    color: white;
  }

  .fa-youtube {
  background: #bb0000;
  background: #bb000081;
  color: white;
}

.fa-instagram {
  background: #125688;
  background: #12578884;
  color: white;
}

  







