/* ========== MAIN CONTENT ========== */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--max-width);
  height: fit-content;

  /* border: 3px solid red; */
}

.main-coloumn {
  width: 90%;
  max-width: var(--main-content-1400);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 200px;
  margin-top: 80px;

  /* border: 3px solid orange; */
}

.category-title-container {
  margin: 0px 0px 30px 0px;
  /* border: 3px solid cyan; */
}

.category-title-container h1 {
  font-size: 60px;
  font-weight: 400;
}

.gallery-container {
  /* display: flex; */
  /* float: left; */
  /* width: 1200px; */
  width: 90%;

  /* !!!!! THIS WAS CAUSING CONTENT OVERFLOW !!!!!  */
  /* height: 100vh; */

  /* border: 3px solid rgb(0, 255, 140); */
}

/* .portrait-img-container {
    width: 378px;
    height: 567px;
    float: left;
    margin: 10px;
    background-size: cover;
    border: 3px solid green;
} */

/*  ========== LIGHTBOX W3S ========== */

/* ===== GALLERY IMAGES ===== */

/* THIS CONTROLS IMAGE WIDTH */
.gallery-img-container .gallery-div {
  /* !!! float:left NOT ALIGNING IMAGES PROPERLY !!! */
  display: inline-block;
  width: 32%;
  /* width: 375px; */
  /* !!! %-MARGIN FIXES ODD DIV BEHAVIOUR WHEN RESIZING WINDOW TO SMALLER SIZE !!! */
  /* margin: 5px; */
  margin: 0.5%;
  /* border: 3px solid rgb(86, 86, 249); */
}

/* img.gallery-img {
  width: 100%;
  margin: 10px;
  border: 3px solid lightskyblue;
} */

img.hover-shadow {
  width: 100%;
  transition: 0.3s;
  /* border: 3px solid olivedrab; */
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The Modal (background) */

/* FADE IN AMIMATION FOR MODAL AND MODAL IMGS */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.97);
  /* FADE IN MODAL */
  animation: fadeIn 0.7s;
  border: 3px solid rgb(212, 91, 43);
}

/* !!!!! FADE OUT / HIDE IS DONE WITH closeModal() !!!!! */
.modal.fade-out {
  animation: fadeOut 1s;
}
/* 
.modal-img-container {
  height: 66%;
  border: 3px solid orange;
} */

/* .modal-img-div {
  width: 100%;
  height: 100%;
  border: 3px solid gray;
} */

img.modal-img {
  width: 70%;
  /* height: auto; */
  /* min-width: 450px; */
  /* min-height: 600px; */
  /* min-height: fit-content; */
  animation: fadeIn 0.5s;
  /* height: 50%; */
  border: 3px solid aqua;
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;

  text-align: center;

  position: relative;
  background-color: #fefefe;
  background-color: #15191921;
  margin: 1% auto;
  /* padding-top: 1%; */
  width: 90%;
  max-width: 1200px;
  height: 95%;

  border: 3px solid rgb(128, 0, 43);
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
}

/* ===== MODAL IMG CONTAIMERS ===== */
/* Hide the slides by default */
.modal-img-div {
  display: none;
  width: 53%;
  margin: auto;

  /* overflow: scroll; */
  /* max-height: 600px; */
  /* border: 3px solid rgb(254, 176, 31); */
}

.modal-img-div.fade-out {
  animation: fadeOut 0.75s;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  /* width: auto; */
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.image-counter-div {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
/* USED AS SPACER BETWEEN MODAL AND THUMBNAIL */
.caption-container {
  height: 20px;
  height: 1%;
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;

  border: 3px solid rgb(255, 218, 149);
}

.thumbnail-container {
  /* display: block; */
  /* height: fit-content; */
  /* height: 200px; */
  width: 80%;
  margin: auto;
  /* !!! MAKE x-scroll WORK !!! */
  overflow: scroll;

  border: 3px solid rgb(27, 196, 27);
}

/* Create 3 equal columns that floats next to eachother */
.thumbnail-container .thumbnail-div {
  /* float: left; */
  display: inline-block;
  width: 10%;
  margin: 0px 1px;
  /* height: 100%; */
  /* border: 3px solid rgb(238, 238, 31); */
}

/* ===== THUMBNAIL IMAGES ===== */
img.thumbnail-image {
  width: 100%;
  /* margin: 2px; */
  opacity: 0.6;

  /* border: 3px solid rgb(219, 34, 34); */
}

.active,
.thumbnail-image:hover {
  opacity: 1;
}

@media only screen and (max-width: 1399px) {
  img.modal-img {
    width: 70%;
    /* margin-top: 3%; */
    /* height: auto; */
    /* min-width: 450px; */
    /* min-height: 600px; */
    /* min-height: fit-content; */
    animation: fadeIn 0.5s;
    /* height: 50%; */
    border: 3px solid rgb(0, 255, 89);
  }
}

/* @media only screen and (max-width: 1399px) and (min-height: 1024px) {
  img.modal-img {
    width: 90%;
    
    animation: fadeIn 0.5s;
    border: 3px solid rgb(0, 76, 255);
  }
} */

@media only screen and (max-width: 1199px) {
  img.modal-img {
    width: 77.5%;
    /* height: auto; */
    /* min-width: 450px; */
    /* min-height: 600px; */
    /* min-height: fit-content; */
    animation: fadeIn 0.5s;
    /* height: 50%; */
    border: 3px solid rgb(204, 255, 0);
  }
}

/* ipad */
@media only screen and (min-width: 768px) and (min-height: 1024px) {
  img.modal-img {
    /* !!!!!!!!!!!!!!!!!!!!!!!! */
    position: relative;
    /* left: -50px; */
    left: -10%;
    /* !!!!!!!!!!!!!!!!!!!!!!!! */

    width: 120%;
    /* height: auto; */
    /* min-width: 450px; */
    /* min-height: 600px; */
    /* min-height: fit-content; */
    margin-top: 10%;
    margin-right: none;

    animation: fadeIn 0.5s;
    /* height: 50%; */
    border: 3px solid rgb(255, 0, 230);
  }
}

/* ========== iPad Pro ========== */
/* @media only screen and (max-height: 1366px) and (max-width: 1024px) {
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    position: relative;
    background-color: #fefefe;
    background-color: #15191921;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    padding: 5% 23% 0% 0%;

    border: 3px solid rgb(128, 0, 43);
  }

  img.modal-img {
    width: 170%;
    animation: fadeIn 0.5s;
    border: 3px solid rgb(217, 255, 0);
  }

  .image-counter-div {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 45px;
    left: 40px;
  }

  .thumbnail-container {
    height: fit-content;
    width: 45%;
    margin-left: 4.5%;
    overflow: scroll;

    border: 3px solid rgb(151, 226, 151);
  }

  .caption-container {
    display: none;
    height: 20px;
    height: 1%;
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;

    border: 3px solid rgb(255, 218, 149);
  }
} */

/* 1366 */
/* @media only screen and (min-height: 1024px) and (max-width: 1280px) {
  img.modal-img {
    width: 75%;
    min-width: 400px;
    animation: fadeIn 0.5s;
    border: 3px solid rgb(217, 255, 0);
  }

  .image-counter-div {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 45px;
    left: 40px;
  }

  .thumbnail-container {
    height: fit-content;
    width: 55%;
    margin: auto;
    overflow: scroll;

    border: 3px solid rgb(226, 206, 151);
  }

  .caption-container {
    display: none;
    height: 20px;
    height: 1%;
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;

    border: 3px solid rgb(255, 218, 149);
  }
} */
