@media only screen and (min-width: 813px) {
	
	/* STICKY NAVBAR */
	.sticky {
		position: fixed;
		width: var(--max-width);
	}
	
	/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
	.sticky + .content {
		  padding-top: 60px;
	}
	
	/* BLUR LANDING PAGE IMG WHEN SEARCH BAR IS ACTIVE  */
	/* GRAYSCALE + BLUR */
	.blurred {
		filter: grayscale(0.5) blur(2px);
		filter: grayscale(0.25) blur(1px) opacity(0.75);
	}
	
	header {
		z-index: 3;
		position: absolute;
		display: flex;
		width: var(--max-width);
		/* !!!!! BACKGROUND IS CONTROLLED BY SCROLLMAGIC fromTo 0.85 -> 0.95 !!!!! */
		/* background-color: rgba(0, 0, 0, 0.85); */
	
		/* border: 1px solid rgba(255, 166, 0, 0.944); */
	}
	
	.header-content {
		display: flex;
		align-items: center;
		max-width: var(--main-content-1400);
		width: 80%;
		height: 45px;
		margin-left: auto;
		margin-right: auto;
	
		/* border: 1px solid rgb(0, 149, 255); */
		/* border-top: 3px solid rgba(0, 149, 255, 0.766); */
	}
	
	.logo-container,
	.nav-links,
	.search-container {
		  display: flex;
	}
	
	/* ===== LOGO =====  */
	
	.logo-container {
		flex: 1;
		display: flex;
		align-items: center;
	
		/* LOGO ONLY */
		justify-content: flex-end;
		justify-content: center;
	
		/* border: 1px solid rgb(255, 42, 0); */
	}
	
	.logo__block-row {
		  display: flex;
	}
	
	.logo__block {
		width: 0.5rem;
		height: 1.5rem;
		border: 1px solid rgba(0, 0, 0, 0.108);
		border-radius: 0.2rem;
		margin: 0.1rem;
	}
	
	.logo__block-1 {
		background-color: #62959c;
		border-bottom-left-radius: 0.6rem;
	}
	
	.logo__block-2 {
		  background-color: #c19277;
	}
	
	.logo__block-3 {
		background-color: #e1bc91;
		border-top-right-radius: 0.6rem;
	}
	
	.logo__block-row:hover .logo__block-1 {
		  background-color: #49c4d4dc;
	}
	
	.logo__block-row:hover .logo__block-2 {
		  background-color: #f6ae84f2;
	}
	.logo__block-row:hover .logo__block-3 {
		  background-color: #ffd29e;
	}
	
	/* ===== NAV ===== */
	
	/* NAVLINK & NAVLINK-DROPDOWN */
	a.nav-link.nav-link-text,
	button.dropbtn.nav-link-text {
		  color: rgba(255, 255, 255, 0.753);
	  /* border: 2px solid green; */
	}
	
	/* NAVLINK */
	a.nav-link.nav-link-text:hover {
		/* color: rgba(223, 32, 32, 0.753); */
		border-bottom: 1px solid white;
		color: white;
	}
	
	/* ACTIVE NAVBAR LINK TEXT */
	a.nav-link.nav-link-text.active-link,
	button.dropbtn.nav-link-text.active-link {
		border-bottom: 1px solid #fdae81;
		/* border-bottom: 1px solid #56d2e2; */
		color: #fdae81;
		/* color: #56d2e2; */
	}
	
	nav {
		flex: 3;
		display: flex;
		align-items: center;
		justify-content: center;
		/* border: 1px solid rgb(255, 42, 0); */
	}
	
	.nav-link {
		display: block;
		float: left;
		width: 130px;
		text-align: center;
		text-decoration: none;
		color: black;
		letter-spacing: 0.04rem;
		font-size: 15px;
		font-weight: 300;
		margin-top: 16px;
		padding: 0px 20px 10px 20px;
		border-bottom: 1px solid transparent;
		/* border: 3px solid rgb(255, 242, 0); */
	}
	
	/* NAVLINK-DROPDOWN  */
	
	i.fa.fa-caret-down {
		display: none;
		margin-left: 3px;
	}
	
	.navbar a {
		float: left;
		font-size: 16px;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	





	.nav-link--dropdown {
		float: left;
		overflow: hidden;
		text-align: center;
		/* border: 3px solid rgb(255, 115, 0); */
	}
	
	/* !!! ALL FIVE NAVBAR BUTTONS !!! */
	.nav-link, .nav-link--dropdown {
		width: 20%;
		max-width: 125px;
	}






	.nav-link--dropdown .dropbtn {
		font-size: 15px;
		border: none;
		outline: none;
		text-align: center;
		padding: 15px 20px 10px 20px;
		letter-spacing: 0.04rem;
		font-weight: 300;
		border-bottom: 1px solid transparent;
	
		text-transform: capitalize;
		background-color: inherit;
		font-family: inherit;
		margin: 0;
		/* border: 3px solid rgb(85, 175, 16); */
	}
	






	/* NAVLINK-DROPDOWN */
	button.dropbtn.nav-link-text:hover {
		/* color: rgba(223, 32, 32, 0.753); */
		border-bottom: 1px solid white;
		color: white;
	}
	
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #000000a0;
		min-width: 130px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}
	
	.dropdown-content a {
		float: none;
		color: rgba(255, 255, 255, 0.753);
		padding: 12px 16px;
		padding: 12px 0px 16px 33px;
		letter-spacing: 0.04rem;
		font-weight: 300;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	
	.dropdown-content a:hover {
		background-color: rgba(0, 0, 0, 0.848);
		/* color: white; */
		color: var(--sub-title-orange);
	}
	
	/* MAKE DROPDOWN LINKS VISIBLE ON HOVER */
	.nav-link--dropdown:hover .dropdown-content {
		  display: block;
	}
	
	/* SEARCH BAR */
	
	.search-container {
		flex: 1;
		display: flex;
		flex-direction: row;
		/* end NOT WORKING, INSTEAD: */
		/* justify-content: flex-end; */
		justify-content: center;
		/* justify-content: space-between; */
		align-items: center;
		/* border: 1px solid rgb(255, 42, 0); */
	}
	
	/* DEFAULT SEARCH ICON */
	button {
		border: none;
		color: rgba(255, 255, 255, 0.753);
		background: transparent;
		outline: none;
	}
	
	button:hover {
		  color: white;
	}
	
	button.submit-btn,
	button.close-btn {
		  color: rgba(255, 255, 255, 0.753);
		  /* border: 1px solid orange; */
	}
	
	/* .fa.fa-search {
		border: 1px solid orange;
	}
	 */
	input[type="text"] {
		width: 70% !important;
	
		/* -webkit-transition: width 0.5s ease-in-out;
		transition: width 0.5s ease-in-out; */
	
		/* margin: 0px 0px 0px 7px; */
		text-align: center;
		border: none;
		outline: none;
		background: transparent;
		color: white;
		font-size: 15px;
		/* border: 1px solid yellowgreen; */
	}
	
	/* ::placeholder {
	  	color: red;
	} */
	
	/* W3SCHOOLS SEARCH/FILTER DROPDOWN */
	.search-dropdown-content {
		position: absolute;
		top: 45px;
		min-width: 177px;
		background-color: #f6f6f636;
	
		overflow: auto;
		border: 1px solid #ddd;
		z-index: 1;
	
		/* border: 1px solid orange; */
	}
	
	.search-dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
	
	.search-dropdown-content a:hover {
		  background-color: #ddd;
	}
	
	/* HIDE HAMBURGER */
	a.icon {
		  display: none;
	}
	
} 

@media only screen and (min-width: 813px) and (max-width: 1279px) {
	
	.header-content {
		/* width: 80%; */
		width: 95%;
		/* border: 1px solid rgb(47, 255, 0); */
	}
}

